<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      *{
        box-sizing: border-box;
      }
      .speech {
        border: 1px solid #DDD;
        width: 100%;
        padding: 0;
        margin: 0
      }
      
      .speech input {
        border: 0;
        width: 458px;
        display: inline-block;
        height: 40px;
      }
      
      .speech img {
        float: right;
        width: 40px
      }
      .main{
        display: block;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
  </style>
  </head>
  <body>
    <div class="main">
  <div class="info">
    <h1> Instructions to code </h1>
    <p>
      Feel free to give instructions! Write or say (click the microphone icon) 
      what you want the different objects to do. For example 
      <i>"The character should cut the tree with the axe"</i>. Or paraphrased: <i>"The boy should cut the bush with the hatchet"</i>.  
      The environment specified for this experiment consist of a
      number of object and possible actions. These are: </p>
    <p>
      <table width="500px">
        <tr>
          <td width="250px">
            <strong>Actions:</strong>
            <ul>
              <li>Hit (*target*, *with*)</li>
              <li>Walk (*direction*)</li>
              <li>Jump (*how*)</li>
              <li>Wave ()</li>
              <li>Cut (*target*, *with*)</li>
              <li>Eat ()</li>
              <li>Turn (*direction*)</li>
            </ul>
          </td>
          <td width="250px">
            <strong>Objects:</strong>
            <ul>
              <li>Character</li>
              <li>Tree</li>
              <li>Axe</li>
              <li>Cow</li>
              <li>Johanna</li>
            </ul>
          </td>
        </tr>
      </table>
    </p>
  </div>
  <form id="form" onsubmit="httpGetAsync('/getcode', displayCode); return false;">
    <label for="appro">Approach:</label>
    <select id="appro" name="appro">
      <option value="1"> Dependency parsing</option>
      <option value="2">Semantic role labeling</option>
    </select>
    <div class="speech">
      <input type="text" name="data" id="transcript" placeholder="Speak or write" />
      <img id="mic-img" onclick="startDictation()" src="http://i.imgur.com/cHidSVu.gif" />
    </div>
  </form>
  <div id="generatedCode"></div>
  </div>
  
  <script>
    var recordMicImg = "https://www.google.com/intl/en/chrome/assets/common/images/content/mic-animate.gif"
    var orginalMicImg = "http://i.imgur.com/cHidSVu.gif"

    function startDictation() {    
      if (window.hasOwnProperty('webkitSpeechRecognition')) {
        // HTML5 Speech Recognition API
        var recognition = new webkitSpeechRecognition();

        recognition.continuous = false;
        recognition.interimResults = false;

        recognition.lang = "en-US";
        recognition.start();
        document.getElementById('mic-img').src = recordMicImg

        recognition.onresult = function (e) {
          document.getElementById('transcript').value
            = e.results[0][0].transcript;
          recognition.stop();
          document.getElementById('mic-img').src = orginalMicImg
          httpGetAsync('/getcode', displayCode);
        };

        recognition.onerror = function (e) {
          recognition.stop();
        }

      }
    }
    function httpGetAsync(theUrl, callback) {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("POST", theUrl, true); // true = asynchronous

      xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlHttp.responseType = "json"
      console.log('==========================')
      console.log(xmlHttp.responseType)

      document.getElementById('generatedCode').innerHTML = "<center><i>Processing...</i></center>"

      xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == XMLHttpRequest.DONE && xmlHttp.status == 200){
          if(xmlHttp.response["code"] != ""){
            callback(xmlHttp.response["code"]);
            }
            else{
              document.getElementById('generatedCode').innerHTML = "Could not understand the instruction."
            }

        }

      }

      xmlHttp.send("appro=" + document.getElementById('appro').value + "&data=" + document.getElementById('transcript').value);
    }

    function displayCode(responseText) {
      document.getElementById('generatedCode').innerHTML = responseText.replace(/\n/g, "<br />").replace(/\t/g, "&emsp;");
    }

  </script>
  </body>
</html>



